# MongoDB (Docker)
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME_PASSWORD
MONGO_DB=reservas_db

# Mongo Express
MONGO_EXPRESS_PORT=8081
ME_CONFIG_BASICAUTH_USERNAME=mongo
ME_CONFIG_BASICAUTH_PASSWORD=CHANGE_ME_PASSWORD
ME_CONFIG_BASICAUTH=false
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=CHANGE_ME_PASSWORD
ME_CONFIG_MONGODB_URL=mongodb://root:CHANGE_ME_PASSWORD@mongo:27017/

# Spring
SPRING_PROFILES_ACTIVE=dev
APP_CORS_ALLOWED_ORIGINS=http://localhost:5500,http://localhost:8080
